.hero__slider_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.hero__slider {
  &_body {
    position: relative;
  }

  &_footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
      left: auto !important;
      right: auto !important;
      transform: none !important;
    }
  }

  &_slide {
    border-radius: $borderRadiusBase;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $white;
    padding: 40px 16px 16px;
    gap: 15px 0;

    &_image {
      max-width: 100%;
    }

    &_text {
      font-size: 13px;
      line-height: 1.23;
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      p {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
      }
    }
  }
}
